{#
/**
 * @file
 * Drulma theme implementation to display a single page.
 */
#}

{% if page.primary_menu or page.top_bar %}
  {% include '@sitetheme/includes/masthead.html.twig' with {top_bar: page.top_bar, primary_menu: page.primary_menu} %}
{% endif %}

<main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="container">
      {{ page.breadcrumb }}

      {{ page.highlighted }}

      {{ page.help }}
    </div>

    {% if wrap_content_in_container %}
    <div class="container">
    {% endif %}
      <div class="columns">
        <div class="column">
        {{ page.content }}
        </div>

        {% if page.sidebar_first %}
          <aside class="column is-narrow" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        {% if page.sidebar_second %}
          <aside class="column is-narrow" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    {% if wrap_content_in_container %}
    </div>
    {% endif %}
  </section>
</main>

{% if page.footer %}
  <footer class="footer global-footer" role="contentinfo">
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
