{#
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if content.field_poster_image|render %}
    <div class="row">
      <div class="col-md-6 col-lg-7 body-col">
  {% endif %}
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        {% else %}
        <h1 class="page-header">{{ label }}</h1>
        {% endif %}

        {{ title_suffix }}

        <div{{ content_attributes.addClass('content') }}>
          {{ content|without('field_sidebar', 'field_poster_image', 'field_sections', 'field_billboard') }}
        </div>

    {% if content.field_poster_image|render %}
      </div>
      <div class="col-md-6 col-lg-5 poster-image-col">
        {{ content.field_poster_image }}
    {% endif %}

    {% if content.field_poster_image|render %}
      </div>
    </div>
    {% endif %}
</article>
