{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{% set poster = content.field_poster_image|render %}
{% set width = (poster == false) ? 'narrow' %}


<article{{ attributes.addClass(classes) }}>
  <div class="container {{ width }}">
    <div class="row">
      {% if content.field_poster_image|render %}
        <div class="col-md-6 col-lg-7 body-col">
      {% else %}
        <div class="col-sm-12 body-col">
      {% endif %}
      
      {# Page Header #}
      {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% else %}
        {% if show_title %}
          <h1 class="page-header">{{ node.label }}</h1>
        {% endif %} 
      {% endif %}
      {{ title_suffix }} {# End Page Header #}

      {# Content #}
      <div{{ content_attributes.addClass('content') }}>
        {{ content|without('field_sidebar', 'field_poster_image', 'field_sections', 'field_billboard') }}
      </div> {# End Content #}

      {% if content.field_poster_image|render %}
        </div>
        {# Poster Image #}
        <div class="col-md-6 col-lg-5 poster-image-col">
          {{ content.field_poster_image }}
        </div> {# End Poster Image #}
      {% else %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
