<div{{ attributes.addClass('assembly') }}>
  {{ title_suffix }}
  <div class="container">
    {% if content.field_title %}
      <{{ title_element }} class="layout-title">{{ content.field_title }}</{{ title_element}}>
    {% endif %}
    <div class="columns">
      {% for i in content.field_columns['#items']|keys %}
        <div class="column is-{{ tablet_column_span }}-tablet is-{{ column_span }}-desktop">
          {{ content.field_columns[i] }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
